* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* Navbar */
.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none; 
}

.navbar li {
    margin-right: 30px;
}

.navbar a:hover {
  color: #FF6433;  
}

.assistance {
    display: flex;
}

.a-text {
    display: block;
}
.navigation a {
    text-decoration: none;
    color: black;
}

.right-section {
    display: flex;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.call {
    margin-left: 10px;
    margin-right: 5px;
}

.right-section {
    align-items: center;
}

/* section one styling */
.section1 {
    display: flex;
    margin: 50px auto;
    width: 80%;
    
}

.text-section {
    width: 50%;
    margin-top: 20px;
    min-height: 70vh;
}

.text-section h1 {
    font-size: 2.8rem;
}

.image-section {
    min-height: 70vh;
    width: 50%;
    margin-left: 50px;
    background: url(../images/header-img.png);
    background-size: cover;
    background-position: center;   
}

/* .image-section-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scaleX(1.2)
}

.quick {
    margin-right: auto;
    margin-top: 60px;
    background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
    border: 12px solid rgba(225, 225, 225, 0.85);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.09);
    border-radius: 59px;
    padding: 5px;
}

.rating {
    margin-left: auto;
    margin-top: 200px;
    background: linear-gradient(138.85deg, #FFFFFF -38.72%, #FFFFFF 153.95%);
    border: 12px solid rgba(225, 225, 225, 0.85);
    box-shadow: 0px 28px 118px rgba(109, 108, 115, 0.12);
    border-radius: 59px;
    padding: 5px;
}

.quick-content {
    display: flex;
    align-items: center;
}

.rating-content {
    display: flex;
}

.quick p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.rating-content img {
    width: 150px;
    height: 40px;
    margin: auto ;
}

.rc {
    font-weight: bold;
    width: 50px;
    margin: auto 10px;
    font-size: 20px;
} */

.inner-border {
    margin: 90px 0 100px 50px;
}

.book {
    background-color: #FF6433;
    padding: 16px 30px;
    border: 1px solid #FF6433;
    border-radius: 12px;
    margin-left: 10px;
    color: white;
}

.btn, .time {
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.hero-text{
    margin-left: 15px; 
}

.time {
    display: flex;
}

.time img {
    margin-right: 10px;
    margin-left: 10px;
}

/* SECTION 2 STYLING */
.section2 {
    background-color: #E2E6E9;

    min-height: 100vh;
}

.section2-container {
    display: flex;
    width: 80%;
    margin: 0 auto; 
}
.right {
    width: 50%; 
}

.left {
    width: 50%; 
}

.right, .left {
    margin-top: 50px;
    margin-bottom: 50px;  
}

#servicing {
    font-size: 2.2rem;
}

.item1, .item2, .item3 {
    display: flex;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.service-text h3, .expert-text h3, .transparent-text h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

.expert-img, .service-img, .transparent-img {
    margin-right: 10px;
}

.section2-footer {
    margin-left: 20px;
}

.section2-footer a {
    margin-left: 10px;
}

#quote {
    font-size: 2.2rem;
    margin-left: 50px;
    margin-bottom: 30px;
}

form input {
    width: 100%;
    margin: 3px 50px;
    padding: 15px;
}

#quote-btn {
    background-color: #FF6433;
    padding: 16px 30px;
    border: 1px solid #FF6433;
    border-radius: 12px;
    margin-left: 50px;
    margin-top: 10px;
    color: white;
} 

#quote-btn:hover {
    padding: 22px 35px;
    font-size: 20px;
}

/* SECTION 3 STYLING */
 .section3-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
    padding: 60px;
}

.section3-left {
    width: 50%;
}

.section3-right {
    width: 50%;
    margin-left: 100px;
}

.inner-body {
    width: 100%;
    margin-top: 50px;
}

#process {
    font-size: 2.2rem;
}

.left-body {
    width: 75%;
    margin-top: 30px;
}

.section3-btn {
    margin-top: 30px;
}

#learn {
    background-color: #FF6433;
    padding: 16px 30px;
    border: 1px solid #FF6433;
    border-radius: 12px;
    color: white;
}

#learn:hover {
    padding: 22px 35px;
    font-size: 1.25rem;
}

.icons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.section3-contents {
    width: 50%;
    margin-left: 5px;
}

.section3-right {
    display: flex;
}

.content01 {
    margin-top: 45px;
}

.content02 {
    margin-top: 55px;
}

.content03 { 
    margin-top: 50px;
}

.content01 h4, .content02 h4, .content03 h4 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
} 

/* SECTION 4 STYLING */
.section4 {
    padding: 80px 0;
    background: #F2F2F2;
    min-height: 100vh;
}

.section4 h2, .section4 h5 {
    text-align: center;
}

.section4 .offer-container {
    width: 80%;
    margin: 40px auto;
}
.offers {
    display: flex;
}
.section4 .offers .offer-items {
    background: white;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 24%;
    margin-bottom: 10px;
}

.section4 .offers {
    flex-wrap: wrap;
    justify-content: space-between;
}

.section4 .offers .offer-items:hover {
    background-color: #FF6433;
    color: white;
}

#section4-p {
    margin-left: 1000px;
}
/* .section4 {
    min-height: 100vh;
    background-color: #F2F2F2;
    padding: 50px 0;
}

.grid-container {
    /* display: grid;
     grid-template-columns:repeat(4, 1fr); 
     i can use this instead of grid gap
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    grid-gap: 10px;
    width: 80%;
    margin: 30px auto 10px auto;
    grid-auto-rows:minmax(200px, auto) ; 
    height: 232px;
    width: 80%;
    margin: 50px auto;
    
}

.section4 .grid-container .grid-item {
    text-align: center;
    background-color: white;
    padding: 40px;
    
    display: flex;
}

.grid-item:hover {
   background-color: #FF6433;
   color: white;
}

#colored-grid {
    background-color: #FF6433;
}

.section4-header {
   margin: auto;
    width: 50%;
    text-align: center;
}

.section4-header h2 {
    font-size: 2.2rem; 
}

#inner-header4 {
    padding-top: 60px;  
}

.section4-footer {
    float: right;
    margin-right: 140px;
} */

/* SECTION 5 STYLING */
.section5 {
    background-color: #F2F2F2;  
    width: 100%;
}

.image-top #left-image {
    width: 20%;
    background: url(../images//section5-car.png);
    background-size: cover;
}

.image-top #right-image {
    width: 45%;
    background: url(../images/section5-engine.png);
    background-size: cover;
    background-position: center;
}

.image-top {
    display: flex;
    min-height: 80vh;
    padding-top: 20px;
}

.orange-card {
   width: 35%;
   background-color: #FF6433;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   
}

.orange-card h3 {
    font-size: 2.2rem;
    color: white;
    width: 80%;
    margin: 80px; 
} 

#contact {
    background-color: #1E1B1B;
    color: white;
    border-radius: 12px;
    padding: 16px 40px;
    width: 150px;
    margin-left: 80px;
    margin-bottom: 35px;
}

#contact:hover {
    background-color: white;
    color: black;
    border-color: #F2F2F2;
}

.text-bottom {
    display: flex;
    min-height: 20vh;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}

.text-bottom span {
    color: #661CE7;
    font-size: 2.2rem;
}

.text-bottom p{
   font-size: 1.13rem;
}


/* SECTION 6 STYLING */
.section6 {
    min-height: 80vh;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;
    padding: 100px 0;
}

.section6 h3 {
    font-size: 2.2rem;
    text-align: center;
}

.brands .brands-row1, .brands .brands-row2  {
    display: flex;
}

/* SECTION 7 STYLING */
.section7 {
  background-color: #F2F2F2;
  min-height: 100vh; 
}

.section7-container {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;  
}

.section7-content {   
    padding-top: 70px;
    
    font-size: 1rem;
    line-height: 1.5rem;
}

.section7-content h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 2.2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
}

.section7-content p {
    width: 90%;
}

.left-card {
    width: 47%;
    background-color: #FFFFFF;
    min-height: 300px;
    padding: 50px 30px 50px 30px;
}

.right-card {
    width: 47%;
    background-color: #FFFFFF;
    min-height: 300px;
    padding: 50px 30px 50px 30px;
}

.profile-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.details {
    margin-left: 20px;
    margin-top: 10px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#left-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 220px; 
}

.next-previous #left-arrow, .next-previous #right-arrow {
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    margin-left: 15px;
}

.next-previous #left-arrow:hover {
    color: white;
    background-color: black;
    padding: 20px ;
}

.next-previous #right-arrow:hover {
    color: white;
    background-color: black;
    padding: 20px ; 
}

.carousel-lines { 
    background-color: #939191;
    width: 20px;
    height: 5px;
    margin-left: 7px;
}

.carousel-lines:hover {
    background-color: #FF6433;
}

/* SECTION 8 STYLING */
.section8 {
    min-height: 100vh;
    background-color: #E2E6E9;  
}

.section8-content h2 {
    margin-bottom: 20px;
    text-align: center;
    padding-top: 70px;
}

.questions {
    background-color: #FFFFFF;
    width: 50%;
    min-height: 310px;
    margin-left: auto;
    margin-right: auto;  
}

#plus-icon {
    border: 1px solid #FF6433;
    background-color: #FF6433;
    color: white;
    padding: 5px;
}

.question {
    border-bottom: 10px solid #E2E6E9;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question1 {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    min-height: 60vh;
    background-color: #1E1B1B;
}

.upper-foot {
    height: 75%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left-foot {
    width: 40%;
    color: white;
}

.left-foot a {
    color: white;
    text-decoration: none;
}

.left-foot h3 {
    width: 90%;
    font-size: 1.88rem;
    line-height: 2rem;
    margin-left: 18px;
}

.footer-icons {
    display: flex;
    margin-top: 40px;
}

.right-foot {
    width: 40%;
    color: white;
}

#right-p {
    opacity: 0.6;
}

#bold-p {
    margin-bottom: 20px;
}

.lower-foot {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.lower-foot a {
    text-decoration: none;
    color: white;
}

.lower-foot a:hover {
    color: #FF6433;
}

.lower-foot li {
    list-style-type: none;
    margin-left: 30px;
}

.lower-foot ul {
    display: flex;
}

.copyright {
    color: #939191;
} 

/* for mobile phones */
@media (max-width:426px) {
    .phone-flex {
        flex-direction: column;
    }

    .navbar {
        align-items: flex-start;
    }

    .right-section, .assistance {
        align-items: flex-start;
    }

    .call {
        margin-left: 0;
    }

    .right-section .navigation {
        border-right: 0;
    }

    .right-section {
        display: none;
    }

    .navigation {
       display: block;
       width: 100%;
    }

    .navbar li {
        padding: 10px;
    }

    .section1 {
        width: 100%;
        margin: 0;
    }

    .section1 .text-section {
        width: 100%;
        margin-top: 20px;
        background: url(../images/man.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        max-height: 100vh;
        justify-content: center;
        align-items: center;
    }


    .inner-border {
        justify-content: center;
        align-items: center;
        margin: 100px 0 100px 0;
    }

    .section1 .image-section {
        display: none;
    }

    .left {
        width: 100%;
    }

    .item1, .item2, .item3 {
        margin-left: 0;
    }

    #servicing, #quote, #process{
        font-size: 1.2rem;
    }

    #quote {
        margin-left: 20px;
        margin-bottom: 10px
    }

    #quote-btn {
        margin-left: 20px;
        padding: 8px 15px;
        margin-top: 0;
    }

    .right {
        width: 100%;
        margin-bottom: 0;
        margin-top: 20px;
    }

    form input {
        width: 80%;
        padding: 8px;
        margin: 3px 20px;
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 20px;
    }
  
    .section4 .offers .offer-items {
        width: 46%;
        height: 150px;
    }

    #section4-p {
        margin-left: 50px;
    }
    .section3 {
        margin-bottom: 50px;
    }
    .section3-left {
        width: 100%;
        margin-top: 20px;
    }

    .left-body {
        width: 100%;
    }

    #learn {
       padding: 8px 15px;
       margin-top: 0;
    }

    .section3-right {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .section3-contents {
        width: 100%;
        margin-left: 15px;
    }

    .section3-content {
        padding: 0;
        min-height: 80vh;
    }

    .icon {
        width: 80%;
        margin-left: 3px;
    }

    .content01 {
        margin-top: 25px;
    }

    .content02, .content03  {
        margin-top: 25px;
    }

    .content01 h4, .content02 h4, .content03 h4 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .content01 p, .content02 p, .content03 p {
        font-size: 0.9rem;
        width: 80%;
    }
    .image-top {
        padding-top: 0;
        min-height: 40vh;
    }

    .image-top #right-image {
        width: 30%;
    }

    .image-top #left-image {
        width: 20%;
    }

    .orange-card {
        width: 50%;
    }

    .orange-card h3 {
        font-size: 1.2rem;
        width: 100%;
        margin: 0;
    }

    #contact {
        margin-left: 0;
        padding: 8px 20px;
        margin-top: 50px;
    }

    .text-bottom {
        padding: 0;
        min-height: 20vh;
        flex-wrap: wrap;
    }
    .btext {
       width: 50%;
       text-align: center;
       margin-top: 10px;
       margin-bottom: 10px;
    }
    
    .section6 {
        padding-bottom: 50px;
    }

    .brands .brands-row1, .brands .brands-row2 {
        flex-direction: column;
    }

    .brands {
        text-align: center;
    }
    
    .section7 {
        min-height: 80vh;
    }
    .section7-container {
        width: 90%;
        justify-content: space-around;
    }

    .section7-content {
        font-size: 0.8rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .left-card, .right-card {
        min-height: 300px;
        padding: 20px 5px 20px 5px;
    }

    .section7-content h2 {
        width: 100%;
        font-size: 1.2rem;
    }

    #left-right {
        margin-right: 30px;
    }

    .section8 {
        min-height: 100vh;
    }
    .questions {
        width: 85%;
    }

    .upper-foot, .left-foot, .right-foot {
        width: 100%;
    }

    .upper-foot {
        padding: 20px;
    }

    .footer-icons {
        margin-top: 10px;
    }

    .left-foot {
        margin-bottom: 20px;
    }

    .lower-foot {
        width: 100%;
        padding-bottom: 20px;
    }

    .left-foot h3 {
        width: 100%;
        margin-left: 0;
    }

    .lower-foot li {
        margin-left: 20px;
    }

    .lower-foot ul{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .lower-foot a, .copyright {
        font-size: 0.5rem;
    }

    .lower-foot li {
        width: 18%;
    }

    .footer-nav {
        width: 100%;
    }
   
}