* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}
.section3-content {
    display: flex;
    
    width: 80%;
    margin: 0 auto;
   
}
.section3-left {
    width: 50%;
   
    margin-top: 120px;
    height: 80vh;
}
.section3-right {
    width: 50%;
    height: 80vh;
    margin-top: 80px;
   margin-left: 100px;
}
.inner-body {
    width: 100%;
    margin-top: 50px;
}
#process {
    font-size: 35px;
}
.left-body {
    width: 75%;
    margin-top: 30px;

}
.section3-btn {
    margin-top: 30px;
}
#learn {
    background-color: #FF6433;
    padding: 16px 30px;
    border: 1px solid #FF6433;
    border-radius: 12px;
   
    color: white;
}
#learn:hover {
    padding: 22px 35px;
    font-size: 20px;
}
.icons {
    margin-top: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.section3-contents {
    width: 50%;
    margin-left: 5px;
}
.section3-right {
    display: flex;
}
.content01 {
    margin-top: 45px;
}
.content02 {
    margin-top: 55px;
}
.content03 { 
    margin-top: 50px;
}
.content01 h4, .content02 h4, .content03 h4 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.section4 {
    min-height: 100vh;
    background-color: #F2F2F2;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 30px auto 20px auto;
    background-color: white;
    height: 300px;
}
.grid-item {
    text-align: center;
    border: 3px solid #F2F2F2;
    height: 150px;
    padding: 40px;
}
#colored-grid {
    background-color: #FF6433;
}
.section4-header {
   margin: auto;
    width: 50%;
    text-align: center;
}
.section4-header h2 {
    font-size: 35px;
    
    
}
#inner-header4 {
    padding-top: 60px;
    
}
.section4-footer {
    float: right;
    margin-right: 140px;
}
.section5 {
    background-color: #F2F2F2;
    
}
.image-top {
    display: flex;
    height: 60vh;
    padding-top: 20px;
}
.image-top #left-image{
    width: 50%;
  background: url(../images/section5-car.png);
  background-position: -100px;
 background-size: cover;
}
.image-top #right-image {
    width: 50%;
  background: url(../images/section5-engine.png);
  background-position: center;
background-size: cover;
}
.orange-card {
    height: 57vh;
    width: 45%;
    background-color: #FF6433;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: absolute;
    margin-left: 150px;
}
.orange-card h3 {
    font-size: 35px;
    color: white;
    width: 80%;
    margin: 80px;
   
} 
#contact {
    background-color: #1E1B1B;
    color: white;
    border-radius: 12px;
    padding: 16px 40px;
    width: 150px;
    margin-left: 80px;
    margin-bottom: 35px;
}
#contact:hover {
    background-color: white;
    color: black;
    border-color: #F2F2F2;
}
.text-bottom {
    display: flex;
    height: 20vh;
    justify-content: space-around;
    padding: 50px;

}
.text-bottom span {
    color: #661CE7;
    font-size: 35px;
}
.text-bottom p{
   font-size: 18px;
}
.section6 {
    height: 60vh;
}
.section6-header {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
}
.grid-container2 {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto auto auto auto;
    padding: 60px;
    margin-left: 30px;
}