* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

/* Navbar */
.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none; 
}

.navbar li {
    margin-right: 30px;
}

.navbar a:hover {
  color: #FF6433;  
}

.assistance {
    display: flex;
}

.a-text {
    display: block;
}
.navigation a {
    text-decoration: none;
    color: black;
}

.right-section {
    display: flex;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.call {
    margin-left: 10px;
    margin-right: 5px;
}

.right-section {
    align-items: center;
}

/* SERVICES-SECTION STYLING */
.container {
    width: 80%;
    margin: 50px auto;
    height: 70vh;
    display: flex;
    flex-direction: row;

}

.image-section {
    width: 40%;
    background: url(../images/servicescar.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-section {
    width: 60%;
    background-color: black;
    color: white;
    padding: 100px;
}

.text-section h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.text-section p {
    color: #F2F2F2;
    margin-bottom: 30px;
    font-size: 14px;
}

.text-section button {
    background-color: #FF6433;
    padding: 16px 30px;
    border: 1px solid #FF6433;
    border-radius: 12px;
    color: white;
}

.auto-diagnotics-section {
    background-color: #F5F5F5;
    height: 100vh; 
    padding-top: 50px;
}
.grid-container {
    width: 80%;
    margin: 0 auto;
   
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr;
    grid-gap: 10px;
    
}
.gridbox {
    background-color: white;
    grid-auto-rows: minmax(250px auto);
}
.left-box {
   grid-row: 1/5;
}
.leftbox-grid {
    display: grid;
    grid-template-rows: 7fr 5fr;
    padding: 15px 15px 0 15px;
}
.left-image-box {
    background: url(../images/serviceswheel.png);
    background-size: cover; 
    background-position: center;
}
.left-text-box a {
    color: black;
}
.left-text-box h3 {
    margin-bottom: 20px;
    font-size: 28px;
}

.left-text-box p {
    opacity: 0.6;
    margin-bottom: 10px;
}

.left-text-box {
    font-size: 12px;
    margin-top: 5px;
}


.right-box1, .right-box2, .right-box3, .right-box4, .right-box5, .right-box6 {
    padding: 20px;
    text-align: center;
}
.right-box5, .right-box6 {
    align-self: stretch;
}

/* .auto-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    border: 1px solid #FF6433;
    margin-left: 60px;
    padding-top: 90px;
    justify-content: space-between;
}

.details-section {
    background-color: white;
    width: 48%;
    border: 1px solid blue;
    height: 400px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    
} */

/* .left-image-box {
    height: 45%;
    background: url(../images/serviceswheel.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   
}

.left-text-box {
    height: 55%;
    border: 1px solid green;
    padding-top: 20px;
}



.grid-container {
    width: 80%;
    background-color: white;
    display: grid;
    grid-template-columns: fr 1fr;
     grid-auto-rows:minmax(700px auto); 
    grid-gap: 10px;
}
.left-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
} */




