* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

:root {
    --gray-clr: #F5F5F5;
    --light-clr: #ffffff; 
    --orange-clr: #FF6433;
    --dark-clr: #1E1B1B;
    --lightgray-clr: #F2F2F2;
    --lightblack--clr: #232536;
    --graygrey-clr: #939191;

/* desktop view */
    --fs-h1: 4rem;
    --fs-h3: 3rem;
    --fs-title02: 1.5rem;
    --fs-p: 1.13rem;

/* tablet view */
    --fs-tabh1: 3rem;
    --fs-tabh3: 2rem;
    --fs-tabtitle02: 1rem;
    --fs-tabp: 0.9rem;

/* mobile view */
    --fs-mobh1: 2rem;
    --fs-mobh3: 1rem;
    --fs-mobtitle02: 0.85rem;
    --fs-mobp: 0.7rem;
}

h1 {
    font-size: var(--fs-h1);
}

h3 {
    font-size: var(--fs-h3);
}

p {
    font-size: var(--fs-p);
}

/* Navbar */
.navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none; 
}

.navbar li {
    margin-right: 30px;
}

.navbar a:hover {
  color: #FF6433;  
}

.assistance {
    display: flex;
}

.a-text {
    display: block;
}
.navigation a {
    text-decoration: none;
    color: black;
}

.right-section {
    display: flex;
}

.right-section .navigation {
    border-right: 2px solid #ccc;
}

.call {
    margin-left: 10px;
    margin-right: 5px;
}

.right-section {
    align-items: center;
}

/* SERVICES-SECTION STYLING */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.services-section {
    margin: 50px auto;
    min-height: 60vh;
    padding-bottom: 10px;
}

.image-section {
    width: 40%;
    background: url(../images/servicescar.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.text-section {
    width: 60%;
    background-color: black;
    color: white;
    padding: 100px;
}

.text-section h1 {
    margin-bottom: 15px;
    color: var(--lightgray-clr);
}

.text-section p {
    color: var(--lightgray-clr);
    margin-bottom: 30px;
}

.text-section button {
    background-color: var(--orange-clr);
    padding: 16px 30px;
    border: 1px solid var(--orange-clr);
    border-radius: 12px;
    color: white;
}

/* auto-diagnotic-section */
#auto-diagnotic-section {
    background-color: var(--gray-clr);
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.auto-container {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
}

.left-auto{
    width: 49%;
    background-color: var(--light-clr);
    padding: 20px;
    height: 550px;
}

.top-image {
    background: url(../images/serviceswheel.png);
    background-size: cover;
    background-position: center;
    height: 250px;
}

.bottom-text #p1 {
    font-size: var(--fs-title02);
    color: var(--lightblack--clr);
    opacity: 0.6;
}

.bottom-text #p2 {
    margin-top: 20px;
}

.bottom-text h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-auto {
    width: 48%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-container {
    display: flex;   
}

.icon {
    width: 20%;
    margin-top: 40px;
}

.service-item {
    height: 177px;
    width: 47%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--light-clr);
}

.service-item:hover {
   background-color: var(--orange-clr);
   color: var(--light-clr);
}

/* work section */
#work {
    min-height: 60vh;
}

.work-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.work-left {
    width: 50%;
}

.work-body {
    display: flex;
    margin-top: 30px;
}

.work-body img {
    width: 30px;
    height: 30px;

}

.title02 {
    font-size: var(--fs-title02);
    width: 80%;
    margin-left: 10px;
}

.work-right {
    width: 48%;
    display: flex;
    justify-content: space-between;
}

.work-right .img1-left {
    background: url(../images/work-img1.png);
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 400px;
}

.work-right .img2-right {
    background: url(../images/work-img2.png);
    background-size: cover;
    background-position: center;
    width: 49%;
    height: 400px;
}

/* diagnotics section */
#diagnose {
    min-height: 100vh;
    padding-bottom: 50px;
}

.images-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.images-left .images1 {
    width: 49%;
    background: url(../images/diagnose1.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.images-left .images2 {
    width: 49%;
    background: url(../images/diagnose2.png);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.text-right {
    width: 50%;
    margin-left: 40px;
}

.text-right p {
    color: var(--lightblack--clr);
    opacity: 0.6;
    margin-top: 20px;
    width: 90%;
}

#book {
    background-color: var(--orange-clr);
    padding: 14px 30px;
    border: 1px solid var(--orange-clr);
    border-radius: 12px;
    color: var(--light-clr);
    margin-top: 15px;
}

/* footer */
footer {
    min-height: 40vh;
}

.upper-foot-container {
    background-color: var(--dark-clr);
    opacity: 0.8;
    
}
.upper-foot {
    height: 75%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.left-foot {
    width: 40%;
    color: var(--light-clr);
}

.left-foot a {
    color: var(--light-clr);
    text-decoration: none;
}

.left-foot h3 {
    width: 100%;
    line-height: 2rem;
}

.footer-icons {
    display: flex;
    margin-top: 40px;
}

.footer-icons a {
    margin-right: 10px;
}

.right-foot {
    width: 40%;
    color: white;
}

#right-p {
    opacity: 0.6;
}

#bold-p {
    margin-bottom: 20px;
}

.lower-foot-container {
    background-color: var(--dark-clr);
    min-height: 25%;
    padding: 20px;
}
.lower-foot {
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.lower-foot a {
    text-decoration: none;
    color: white;
}

.lower-foot a:hover {
    color: var(--orange-clr);
}

.lower-foot li {
    list-style-type: none;
    margin-left: 30px;
}

.lower-foot ul {
    display: flex;
}

.copyright {
    color: var(--graygrey-clr);
} 

/* for tablet */
@media (max-width:769px) and (min-width:481px) {
    .container {
        width: 85%;
    }

    h1 {
        font-size: var(--fs-tabh1);
    }

    h3 {
        font-size: var(--fs-tabh3);
    }

    p {
        font-size: var(--fs-tabp);
    }

    .navbar {
        width: 100%;
    }

    /* services-section */
    .services-section {
        margin: 30px auto;
        min-height: 50vh;
    }

    .text-section {
        padding: 60px;
    }

    /* auto-diagnotic section */
    #auto-diagnotic-section {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 60vh;
    }

    .bottom-text #p1 {
        font-size: var(--fs-tabtitle02);
    }

    .left-auto {
        height: 500px;
    }

    .service-item {
        height: 160px;
    }

    .auto-container {
        margin-left: 30px;
    }

    /* work section */
    #work {
        min-height: 45vh;
    }

    .title02 {
        font-size: var(--fs-tabtitle02);
    }

    .work-left .header {
        margin-right: 5px;
    }

    .work-right .img1-left, .work-right .img2-right {
        height: 300px;
    }

    .work-body {
        margin-top: 15px;
    }

    /* diagnose section */
    #diagnose {
        min-height: 60vh;
    }

    .images-left .images1, .images-left .images2 {
        height: 350px;
    }

    .text-right p {
        margin-top: 10px;
    }

    #book {
        margin-top: 8px;
        padding: 7px 15px;
    }


    /* footer */
    .left-foot h3 {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .upper-foot {
        width: 90%;
    }

    .lower-foot-container {
        padding: 10px;
    }

    .lower-foot {
        width: 90%;
    }

    .lower-foot a {
        font-size: 12px;
    }

    .lower-foot li {
        margin-left: 15px;
    }
}

/* for mobile phones */
@media (max-width:426px) {
    h1 {
        font-size: var(--fs-mobh1);
    }

    h3 {
        font-size: var(--fs-mobh3);
    }

    p {
        font-size: var(--fs-mobp);
    }

    .phone-flex {
        flex-direction: column;
    }

    .container {
        width: 100%;
    }

    /* navbar */

    .navbar {
        align-items: flex-start;
    }

    .right-section, .assistance {
        align-items: flex-start;
    }

    .call {
        margin-left: 0;
    }

    .right-section .navigation {
        border-right: 0;
    }

    .right-section {
        display: none;
    }

    .navigation {
       display: block;
       width: 100%;
    }

    .navbar li {
        padding: 10px;
    }

    /* services section */
    .service-section {
        min-height: 40vh;
        margin-bottom: 10px;
    }
    
    .services-section .image-section {
        display: none;
    }

    .services-section .text-section {
        width: 100%;
        padding: 50px;
        background: url(../images/servicescar.png);
        height: 400px;
    }

    .text-section h1 {
        margin-top: 150px;
    }

    .text-section p {
        margin-bottom: 0;
    }

    /* auto-diagnotic-section */
    .bottom-text #p1  {
        font-size: var(--fs-mobtitle02);
    }

    .left-auto {
        width: 90%;
        min-height: 400px;
        margin: 0 auto;
    }

    .right-auto {
        width: 90%;
        margin: 10px auto;
    }

    .auto-container {
        margin-left: 0;
    }

    .service-item {
        width: 32.33%;
        height: 150px;
    }

    /* work section */
    .title02 {
        font-size: var(--fs-mobtitle02);
    }

    .work-body img {
        width: 20px;
        height: 20px;
    }

    .work-left {
        width: 90%;
        margin: 0 auto;
        order: 2;
        padding-top: 20px;
    }

    .work-right {
        order: 1;
        width: 90%;
        margin: 0 auto;
    }
    .work-right .img2-right, .work-right .img1-left {
        height: 300px;
        width: 49%;
    }

    /* diagnose section */
    #diagnose {
        min-height: 70vh;
    }

    .images-left .images2, .images-left .images1 {
        height: 300px;
        width: 49%;
    }

    .images-left {
        width: 90%;
        margin: 0 auto;
    }

    .text-right {
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #book {
        padding: 7px 15px;
    }
    

    /* footer */
    .upper-foot, .left-foot, .right-foot {
        width: 100%;
    }

    .upper-foot {
        padding: 20px;
    }

    .footer-icons {
        margin-top: 10px;
    }

    .left-foot {
        margin-bottom: 20px;
    }

    .lower-foot-container {
        padding: 5px;
    }

    .lower-foot {
        width: 100%;
        padding-bottom: 20px;
    }

    .left-foot h3 {
        width: 100%;
        margin-left: 0;
    }

    .lower-foot li {
        margin-left: 20px;
    }

    .lower-foot ul{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .lower-foot a, .copyright {
        font-size: 0.5rem;
    }

    .lower-foot li {
        width: 18%;
    }

    .footer-nav {
        width: 100%;
    }

}